services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    container_name: zk
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://127.0.0.1:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  redis:
    image: redis:7.2-alpine
    container_name: redis
    ports:
      - "6379:6379"
    # Если контейнер перезагрузится - данные в Redis не пропадут
    command: ["redis-server", "--appendonly", "yes"]
    # Монтируем том для хранения данных Redis
    volumes:
      - redis-data:/data

# Определяем том для хранения данных Redis
volumes:
  redis-data: